<html>
    <head>
        <title>GameBase</title>
    </head>
	<body bgcolor="#acac8f">
	<center>
	{% if genreSize == 0 %}
	<p>Unable to add new games</p>
	<p>There are no genres in database!</p>
	<p>Add at least one genre to database</p>
	{% else %}
	{% if size != 0 %}
	<ul>
	{% for game in games %}
		<p><li>{{ game }} <form action="/games/delete/{{loop.index}}" method="post"><input type="submit" value="Delete"/></form></li></p>
	{% endfor %}
	</ul>
	{% else %}
	<p>No games in database</p>
	{% endif %}
	<p>Add new game</p>
	<p><form action="/games" method="post">
	<p>Name : <input type="text" name="gameName"></p>
	<p>Is possesed? : <input type="checkbox" name="gamePossesed"></p>
	<p>Grade(0 - 10) : <input type="text" name="gameGrade"></p>
	<p>Year : <input type="text" name="gameYear"></p>
	<p>Select game genres : </p>
	<ul>
	{% for genre in genresList %}
	<p>{{genre}} <input type="checkbox" name="{{ genre }}"></p>
	{% endfor %}
	</ul>	
	<input type="submit" value="Add"/></form>
	<form action="/deleteGame">
	<input type="submit" value="Delete"/></form></p>
	{% endif %}
	<p> {{operationString}} </p>
	<p><form action="/">
	<input type="submit" value="Go back to homepage"/></form></p>
    	</center>
    </body>
</html>