<html>
    <head>
        <title>GameBase</title>
    </head>
	<body bgcolor="#acac8f">
	<center>
	<p>Genre's list</p>
	<p></p>
	{% if size != 0 %}
	<ul>
	{% for genre in genresList %}
		<p><li>{{ genre }} <form action="/genres/delete/{{genre}}" method="post">
	<input type="submit" value="Delete"/></form></li></p>
	{% endfor %}
	</ul>
	{% else %}
	<p>No genres in database</p>
	{% endif %}
	<p></p>
	<p>New genre</p>
	<form action="/genres" method="post">
	<p>Genre's name : <input type="text" name="genreName" ></p>
	<input type="submit" value="Add"/></form>
	<p>{{ operationStatus }}</p>
	<p><form action="/">
	<input type="submit" value="Go back to homepage"/></p>
    	</center>
    </body>
</html>