<html>
    <head>
        <title>GameBase</title>
    </head>
	<body bgcolor="#acac8f">
	<center>
	<p><form action="/games">
	<input type="submit" value="Browse games"/></form></p>
	<p><form action="/genres">
	<input type="submit" value="Browse genres"/></form></p>
    </body>
</html>